.ms-0 {
  content: "\e605";
  margin: 0 !important;
}
.ms-1 {
  content: "\e606";
  margin: 0 !important;
}
.ms-2 {
  content: "\e607";
  margin: 0 !important;
}
.ms-3 {
  content: "\e608";
  margin: 0 !important;
}
.ms-4 {
  content: "\e609";
  margin: 0 !important;
}
.ms-5 {
  content: "\e60a";
  margin: 0 !important;
}
.ms-6 {
  content: "\e60b";
  margin: 0 !important;
}
.ms-7 {
  content: "\e60c";
  margin: 0 !important;
}
.ms-8 {
  content: "\e60d";
  margin: 0 !important;
}
.ms-9 {
  content: "\e60e";
  margin: 0 !important;
}
.ms-10 {
  content: "\e60f";
  margin: 0 !important;
}
.ms-11 {
  content: "\e610";
  margin: 0 !important;
}
.ms-12 {
  content: "\e611";
  margin: 0 !important;
}
.ms-13 {
  content: "\e612";
  margin: 0 !important;
}
.ms-14 {
  content: "\e613";
  margin: 0 !important;
}
.ms-15 {
  content: "\e614";
  margin: 0 !important;
}
.ms-16 {
  content: "\e62a";
  margin: 0 !important;
}
.ms-17 {
  content: "\e62b";
  margin: 0 !important;
}
.ms-18 {
  content: "\e62c";
  margin: 0 !important;
}
.ms-19 {
  content: "\e62d";
  margin: 0 !important;
}
.ms-20 {
  content: "\e62e";
  margin: 0 !important;
}
